.reveal h1, 
.reveal h2,
.reveal h3, 
.reveal h4,
.reveal h5, 
.reveal h6 {
	font-family: 'Overpass Light', sans-serif;
}

@font-face {
	font-family: 'Overpass Light';
	src: local("overpass"),
		 local("Overpass"),
		 local("overpass light"),
		 local("overpass-light"),
		 local("Overpass-Light"),
		 url(../fonts/overpass-light.otf);
	font-weight: normal;
  }